<!-- Argon Scripts -->
<!-- Core -->
<script src="<%=baseUrls.admin%>assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="<%=baseUrls.admin%>assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Optional JS -->
<script src="<%=baseUrls.admin%>assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="<%=baseUrls.admin%>assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="<%=baseUrls.admin%>assets/js/argon.min.js?v=1.0.0"></script>

<script src="<%=baseUrls.admin%>/public/admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>