<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="<%=baseUrls.admin%>/administration/dashboard">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" href="<%=baseUrls.admin%>/administration/allClients">
        <i class="bi bi-people"></i>
        <span>All Clients</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="<%=baseUrls.admin%>/administration/onboardClient">
        <i class="bi bi-person-plus"></i>
        <span>Onboard Client</span>
      </a>
    </li>

    
    <li class="nav-item">
      <a class="nav-link collapsed" href="<%=baseUrls.admin%>/administration/communications">
        <i class="bi bi-person-plus"></i>
        <span>Communications</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="<%=baseUrls.admin%>/administration/client-access">
        <i class="bi bi-person-plus"></i>
        <span>Permission</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link collapsed" href="<%=baseUrls.admin%>/administration/login">
        <i class="bi bi-box-arrow-right"></i>
        <span>Logout</span>
      </a>
    </li>

  </ul>
</aside><!-- End Sidebar -->
